.user-dropdown-controller {
  position: relative;
}

.dropdown-container {
  background-color: #f0f0f0;
  border: solid 1px #4752668e;
  border-radius: 8px;
  top: 40px;
  right: 0px;
  position: absolute;
  width: 180px;
  height: fit-content;
}

.dropdown-list-container {
  height: 100%;
}

.dropdown-list-group {
  padding: 0;
  margin: 0;
}

.dropdown-list-item {
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
  padding: 16px;
  &:hover {
    background-color: #e4e4e4;
  }
  &:active {
    background-color: #d8d8d8;
  }
}

.dropdown-icon-item {
  list-style: none;
  color: #282c34;
  cursor: pointer;
  height: 100%;
  &:hover {
    color: #2f5aa8;
  }
  &:active {
    color: #3c72d6;
  }
}
